.videoCard {
    color: white;
    width: 500px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.videoCard:hover {
    transform: scale(1.05);
}

.videoCard>img {
    height: 300px;
    object-fit: contain;
    width: 500px;
}

.videoCard>h2 {
    padding-top: 5px;
}

.videoCard__stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 0px;
    transition: width 200ms ease-in-out;
}

.videoCard:hover .videoCard__stats {
    width: 100%;
}

.videoCard__stats>.MuiSvgIcon-root {
    margin: 0 5px;
}

@media (max-width: 700px) {
    .videoCard {
        width: 270px;
        height: 220px;
        padding: 20px;
        margin: 20px;
    }

    .videoCard>* {
        font-size: 14px;
    }

    .videoCard>img {
        height: 150px;
        width: 250px;
    }
}